/*selector /etiqueta {
    propiedad: valor;
}

/*
ORDEN JERARQUICO::after

!import = no importa que, lo aplica sin criterio alguno.
id      = Clasificación única e irrepetible en el doc. (ej: dni- patente - imei)
id      = ESTRUCTURAS PRINCIPALES O TRONCALES DEL DOC.
class   = Clasificación que podemos repetir en el doc. (ej: cajas - estilos)
selectores / etiquetas*/

/*ESTILOS RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins";
    color: beige;
}

#main {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 85px;
    text-align: center;
}

ul {
    display: inline-block;
}
li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
}

/*ESTILOS BODY*/
#body {
    max-width: 100%;
}
#bodyIndex {
    background-color: rgb(71, 59, 83);
}

/*ESTILOS HEADER*/

.navbar {
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
#header {
    width: 100%;
    height: 80px;
}

#header img {
    width: 180px;
    height: 115px;

}

/*ESTILOS MAIN*/
.about {
    margin-top: 80px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

img{
    width: 300px;
}

/*ESTILOS FOOTER*/
#footer{
    margin-top: auto;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
#footer img {
    width: 120px;
    height: 77px;
} 

.footerNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    
}

.footerNav-copy {
    color: rgba(255, 255, 255, 0.81);
    font-size: 20px;
}

.footerRedes i {
    color: white;
    font-size: 20px;
}

