/*ESTILOS MAIN*/
.about {
    margin-top: 80px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

img{
    width: 300px;
}

.services {
    text-align: center;

}

video {
    width: 100%;}